@use "./vars" as *;
.fun-facts {
  position: relative;
  margin-top: 7rem;
  margin-bottom: 7rem;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: $main-color;
    width: 100%;
    height: 100%;
    border-top-right-radius: 600px;
    border-bottom-right-radius: 600px;
    z-index: -2;
  }
  &::after {
    content: url("../../images/contact-dec-01.png");
    position: absolute;
    width: fit-content;
    height: 100%;
    top: 0;
    left: 0;
    transform: translateX(50%);
    z-index: -1;
  }
  .container {
    .row {
      .col-12 {
        .content {
          .row {
            padding: 80px;
            .col-12 {
              h1 {
                color: $white-color;
              }
              p {
                color: $white-color;
              }
            }
          }
        }
      }
    }
  }
}
