@use "./vars" as *;
body {
  font-family: "Roboto", sans-serif;
  // width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
::selection {
  background-color: $main-color;
  color: $white-color;
}
